<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header::header('Edit pet')"></head>
<body>
<script src="/resources/javascript/components.js" type="text/javascript"></script>

<div th:replace="fragments/navbar::navbar"></div>
<div class="container-fluid" style="margin-top:50px;" id="pet">
    <div class="col-12 text-center">
        <h1 class="display-3">Edytuj zwierzę</h1>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>
                Imię
            </th>
            <th>
                Data przyjęcia
            </th>
            <th>
                Gatunek
            </th>
            <th>
                Płeć
            </th>
            <th>
                Wiek
            </th>
            <th>
                Może mieszkać z innymi psami
            </th>
            <th>
                Może mieszkać z innymi kotami
            </th>
            <th>
                Może mieszkać z dziećmi
            </th>
            <th>
                Aktywność (skala 1-10)
            </th>
            <th>
                Choroby
            </th>
        </tr>
        </thead>
        <tbody class="bg-psomocnik">
        <tr class="text-center">
            <td id="name">{{pet.name}}</td>
            <td id="takeInDate">{{formattedDate}}</td>
            <td id="species">{{pet.species}}</td>
            <td id="sex">{{pet.sex}}</td>
            <td id="age">{{pet.age}}</td>
            <td id="canLiveWithOtherDogs">{{pet.canLiveWithOtherDogs}}</td>
            <td id="canLiveWithOtherCats">{{pet.canLiveWithOtherCats}}</td>
            <td id="canLiveWithKids">{{pet.canLiveWithKids}}</td>
            <td id="activity">{{pet.activity}}</td>
            <td id="diseases">{{pet.diseases}}</td>
        </tr>
        <tr class="text-center">
            <td>

                <edit-button elementid="name"></edit-button>
            </td>
            <td>
                <edit-button elementid="takeInDate"></edit-button>
            </td>
            <td>
                <edit-button elementid="species"></edit-button>
            </td>
            <td>
                <edit-button elementid="sex"></edit-button>
            </td>
            <td>
                <edit-button elementid="age"></edit-button>
            </td>
            <td>
                <edit-button elementid="canLiveWithOtherDog"></edit-button>
            </td>
            <td>
                <edit-button elementid="canLiveWithOtherCats"></edit-button>
            </td>
            <td>
                <edit-button elementid="canLiveWithKids"></edit-button>
            </td>
            <td>
                <edit-button elementid="activity"></edit-button>
            </td>
            <td>
                <edit-button elementid="diseases"></edit-button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-12 text-center">
        <button type="button" class="btn btn-psomocnik btn-lg" data-toggle="modal" data-target="#submitModal">
            Zatwierdź
        </button>
    </div>
    <!-------------------------------------submitModal--------------------------------------->
    <div class="modal fade" id="submitModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4>Zatwierdzić zmiany?</h4>
                </div>
                <div class="modal-footer">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-psomocnik" v-on:click.capture="editPet()"
                                data-dismiss="modal">Ok
                        </button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-psomocnik" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------- editModal------------------------------------------>
    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Wprowadź zmianę</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="editInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-psomocnik" v-on:click.capture="editValue()"
                            data-dismiss="modal">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/resources/javascript/editPet.js"></script>
</body>
</html>

