<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="C:\Users\slevu\IdeaProjects\Psomocnik\src\main\resources\static\resources\style\style.css" type="text/css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Vue.js -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Vue-router -->
    <script src="https://unpkg.com/vue-router"></script>

    <!-- axios.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Psomocnik</title>
</head>
<body>
    <!--
        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/login">Login</router-link>
            <router-link to="/about">About</router-link>
        </nav>
        <router-view></router-view>
    -->



<div id="app">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" role="navigation">


        <ul class="nav navbar-nav">
            <li class="nav-item"><b-link to="/">Home</b-link>
            <li class="nav-item"><b-link to="ourPets">Nasze zwierzaki</b-link></li>
            <li class="nav-item"><a class="nav-link" href="form">Znajdź tego jedynego</a></li>
            <li class="nav-item"><a class="nav-link" href="contact">Kontakt</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="login">Zaloguj</a></li>
            <li class="nav-item"><a class="nav-link" href="register">Zarejestruj</a></li>
            <li class="nav-item dropdown">
                <b-dropdown id="manage" text="Zarządzaj" class="m-md-2">

                    <b-dropdown-item to="/manageUsers">Użytkownicy</b-dropdown-item>
                </b-dropdown>
            </li>
        </ul>
    </nav>
    <div class="container-fluid" style="margin-top:100px;">
        <router-view></router-view>
    </div>
</div>
    <script type="text/javascript" src="C:\Users\slevu\IdeaProjects\Psomocnik\src\main\resources\static\resources\javascript\manageUsers.js"></script>
<script>
const Home  = {
  template: '<div>Home</div>'
}

const Login = {
  template: '<div>Login</div>'
}

const About = {
  template: '<div>About</div>'
}

const router = new VueRouter({
  routes: [
    { path: '/', component: Home },
    { path: '/manageUsers', component: manageUsers },
    { path: '/about', component: About }
  ]
})

new Vue({
  router
}).$mount('#app')
</script>
</body>
</html>

